@model RegisterViewModel

<div class="register-page">
    <div class="container">
        <div class="row top-buffer">

            <div class="col"></div>
            <div class="col-sm-6">
                <form asp-route="Register">
                    <div class="register-container">
                        <h2>Register</h2>
                        <partial name="_ValidationSummary" />

                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input class="form-control" placeholder="Username" asp-for="Email" autofocus>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="email" class="form-control" placeholder="Email" asp-for="Email">
                        </div>

                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword" autocomplete="off">
                        </div>

                        <button class="btn btn-primary" name="button" value="register">Register</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>

        </div>
    </div>
</div>
