@using Microsoft.AspNetCore.Components.Authorization
@inject LogOutService LogOutService
@inject NavigationManager Nav

<AuthorizeView>
	<Authorized>
		<h3>@context.User.Identity?.Name</h3>
		<div class="dropdown-menu">
			<span class="dropdown-button"><img role="presentation" src="icons/user.svg" /></span>
			<div class="dropdown-content">
				<a class="dropdown-item" href="user/orders">My orders</a>
				<form class="dropdown-item" method="post" @onsubmit="LogOutAsync">
					<button type="submit">Log out</button>
				</form>
			</div>
		</div>
	</Authorized>
	<NotAuthorized>
		<div>
			<a aria-label="Sign in" href="/user/login">
				<img role="presentation" src="icons/user.svg" />
			</a>
			<a aria-label="Register" href="/user/register">
				<img role="presentation" src="icons/user.svg" />
			</a>
		</div>
	</NotAuthorized>
</AuthorizeView>

@code {
	[CascadingParameter]
	public HttpContext? HttpContext { get; set; }

	private Task LogOutAsync()
	{
		if (HttpContext != null)
			return LogOutService.LogOutAsync(HttpContext);
		return Task.CompletedTask;
	}
}
